#draggable {
    position: absolute;
    left: 400px;
    background-color: #ada;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: move;
}

#twodContainer {
    position: fixed;
    top: 50px;
    left: 50px;
    overflow: scroll;
    width: 150px;
    height: 150px;
}

.twod {
    background-color: #aad;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    cursor: move;
}

.twod .pointer {
    position: relative;
    z-index: 2;
    margin-left: -7px;
    margin-top: -7px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    -mox-border-radius: 5px;
    border-radius: 5px;
}

.oned {
    float: right;
    background-color: #daa;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    cursor: move;
}

.oned .pointer {
    position: relative;
    background-color: black;
    z-index: 2;
    margin-left: -2px;
    width: 4px;
    height: 30px;
}

#value {
    height: 500px;
    margin-left: 250px;
}
